body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: palegoldenrod;

}

h1 {
    font-family: "Agency FB", cursive; !important;


}

h2 {
    font-family: Bahnschrift, cursive;
}
